.container {
    height: 100%;
    width: 100%;
    text-align: center;
}
img{
    height: 80px;
}
.line1, .line2{
    display: flex;
    justify-content: space-between;
}
.temperature{
    font-size: 70px;
    display: flex;
    margin-left: 70px;
}
.temperature p {
    margin-top: 0px;
    margin-left: 20px ;
}
.pressure p{
    margin-top: 0px;
    margin-left: 20px ;
}
.pressure{
    font-size: 70px;
    display: flex;
    margin-right: 115px;
}
.humidity{
    font-size: 70px;
    display: flex;
    margin-left: 70px;
}
.humidity p{
    margin-top: 0px;
    margin-left: 20px ;
}
.summary{
    font-size: 20px;
    font-weight: bolder;
    margin-top: -20px;
}
.windspeed{
    font-size: 70px;
    display: flex;
    margin-right: 50px;
}
.windspeed p{
    margin-top: 0px;
    margin-left: 20px ;
}
.header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.header button{
    height: 20px;
    margin-top: 19px;
    font-size: 25px;
    background: none;
    border:none;
    cursor: pointer;
    font-weight: bolder;
}