<div class="app-container">
  <div class="nav" *ngIf="inputShow">
    <h1>Weather Web App</h1>
    <div class="search-box">
        <input type="text" [(ngModel)]='cityName' placeholder="Search for locations...">
            <fa-icon class="search" (click)="onSearch()" [icon]="faMagnifyingGlass"></fa-icon>
    </div>
</div>
  <div class="weather-container" *ngIf="detailsShow">
    <div class="header">
      <button class="today" (click)="onToday()" [className]="today == true?'today today-active':'today'">TODAY</button>
      <button class="week" (click)="onWeek()" [className]="week == true?'week week-active':'week'">WEEK</button>
    </div>
    <div class="todaysWeather" *ngIf="todayShow">
      <app-weather [cityName]="cityName"></app-weather>
      <button class="other" (click)="onOther()">Search for other location</button>
    </div>
    <div class="weathers-container" *ngIf="weekShow">
      <div class="todaysWeather">
        <app-week [cityName]="cityName"></app-week>
      </div>
      <button class="other" (click)="onOther()">Search for other location</button>
    </div>
    
  </div>
</div>
